*{
    font-family: 'Montserrat', serif;
    font-weight: bold;
}
/* STRUTTURA PRINCIPALE DELLA PAGINA */
.row-column{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    color: white;
}
.col-lg-10 .top-bar{
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(8, 11, 18);
}
.col-lg-10 .container-fluid {
    overflow-y: scroll;
    height: calc(100% - 60px);
    background-color: rgb(20, 25, 34);
    padding: 10px;
}
/*--- NAV-BAR POSTA A SINISTRA ---*/
header > .row > .col-lg-2{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-size: 13px;
    color: gray;
    padding:10px ;
}
/* LAYOUT COMUNI NAV-BAR */
ul{
    list-style: none;
}
li {
    margin: 10px 0;
}
.nav-bar-top li,.nav-bar-bottom{
    margin: 10px 0 0 0;
    padding:0 20px 0 20px;
}
/* PARTE SUPERIORE DELLA NAV-BAR */
.nav-bar-top img {
    margin:0 0 20px 20px;
    height: 40px;
}
.nav-bar-top i {
    font-size: 20px;
    margin-right: 10px;
}
.nav-bar-top ul:first-of-type li:first-child{
    color: white;
    border-left: 1px solid greenyellow;
}    
.nav-bar-top ul:last-child li:first-child{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.nav-bar-top ul:last-child > li > i{
    font-size: 30px;
    vertical-align: middle;
}
/* PARTE INFERIORE DELLA NAV-BAR */
.nav-bar-bottom div:first-child {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.nav-bar-bottom div:last-child {
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
.nav-bar-bottom div:last-child i{
    font-size: 25px;
    vertical-align: middle;
}
.nav-bar-bottom i {
    margin-right: 10px;
}
.nav-bar-bottom > div:first-child:hover{
    color: white;
}
/*--- BARRA SUPERIORE ---*/
.upgrade{
    text-decoration: none;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 30px;
}
.upgrade:hover{
    font-size: 17px;
}
/*--- CONTENUTO DELLA PAGINA ---*/
.container-fluid  ul{
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 13px;
    margin-bottom: 20px;
}
.container-fluid li {
    margin-right: 15px;
}
li:hover{
    color: white;
}
.album > div[class^="img-"]{
    height: 12vw;
    width: 12vw;
    background-size: cover;
}
.playlist .title{
    color: white;
}
div[class^="img-"]:hover > div{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div[class^="img-"]:hover i{
    color: rgba(255, 255, 255, 1);
  
}
header .fa-play-circle{
    color: rgba(255, 255, 255, 0);
    font-size: 50px;
}
.album{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album > div[class^="img-"] + div{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-album{
    color: white;
    font-size: 15px;
}
.title-album + div{
    color: gray;
    font-size: 12px;
}
.playlist > div:last-child div[class^="img-"] > div{
    border-radius: 50%;
}
.img-1{
    background-image: url(../img/metal_lifting.jpg);
}
.img-2{
    background-image: url(../img/stranger.jpeg);
}
.img-3{
    background-image: url(../img/aquietplace.jpeg);
}
.img-4{
    background-image: url(../img/split.jpeg);
}
.img-5{
    background-image: url(../img/cure.jpeg);
}
.img-6{
    background-image: url(../img/sinister.jpeg);
}
.img-7{
    background-image: url(../img/radar.jpeg);
}
.img-8{
    background-image: url(../img/mixdaily.jpeg);
}
.img-9{
    background-image: url(../img/youg.jpeg);
    border-radius: 50%;
}
.img-10{
    background-image: url(../img/einaudi.jpeg);
    border-radius: 50%;
}
/*--- FOOTER ---*/
footer i{
    margin: 0 10px;
}
footer > div{
    display: flex;
    align-items: center;
}
.bar{
    margin: 0 10px;
    width: 90px;
    min-width: 20%;
    background-color: gray;
    height: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.bar > div:first-child{
    background-color: white;
    width: 10%;
    height: 100%;
}
.bar > div:last-child{
    background-color: white;
    width: 12px;
    border-radius: 50%;
    height: 12px;
}
.center-player .bar:hover > div,.right-player .bar:hover > div{
    background-color: yellowgreen;
}

/* ELEMENTO POSTO A SINISTRA */

.left-player img{
    height: 40px;
    margin: 0 10px;
}
.left-player{
    display: flex;
    justify-content: space-between;
}
.left-player > div{
    display: flex;
    align-items: center;
}
.left-player > div > div >div:last-child{
    font-size: 10px;
}
.left-player div > i{ 
    color: gray;
}
.left-player div > i:hover{ 
    color: white;
}

/* ELEMENTO CENTRALE */
.center-player > div{
    width: 100%;
    min-width: 20%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.center-player > div > div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player > div{
font-size: 14px;
}
.fa-play-circle{
    font-size: 25px;
}
.fa-play-circle:hover{
    font-size: 30px;
}
/* ELEMENTO POSTO A DESTRA */
footer .col-lg-2:last-child{
    justify-content: flex-end;
}
